{{#if Items.length}}
<div class="carousel" carousel data-slide-clicked-event="@Model.SlideClickedEvent" data-go-to-slide-event="@Model.GoToSlideEvent" @clickHolder data-carousal-name="@Model.CarousalName" data-profile-url="">
    <div class="row carousel-view">
        <div class="column-12 carousel-preview noselect">
            <div class="photo-overlay-container single-slide"></div>
            <div class="carousel-inner">
                <div class="slide active" slide data-slide-index="0" data-slide-use-magnify="" track-click="">
                    {{#each Items}}
                       Img Src {{Uri}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="carousel no-photo" carousel @clickHolder>
    <p><i class="ln-icon-photos-hollow"></i>@Model.NoPhotoText</p>
</div>
{{/if}}